<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="/images/FaviconSSNE.png">
    <link rel="stylesheet" href="/stylesheets/alertSuccessError.css">    
</head>

<body style="background-color: white;">

    <div class="loader p404"></div>

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <img src="/images/404.jpg" alt="" class="w-50">
            <h1 class="p-3">Page Not Found 404</h1>
            <button onclick="Return()" class="btn btn-primary btn-lg fs-3 Regreso">Return</button>
        </div>
    </div>

    <script>
       
    </script>

<script src="/javascripts/alertSuccessError.js"></script>

</body>

</html>