<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSNE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="/images/FaviconSSNE.png">
    <link rel="stylesheet" href="/stylesheets/alertSuccessError.css">    
</head>

<body style="background: linear-gradient(270deg, #fccfcf 20%, #fee6e5 80%);">

    <div class="loader pError"></div>

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <img src="/images/error.png" alt="" class="w-50">
            <h1 class="p-3">Email NOT Sent!</h1>
            <p class="w-75 pb-3 fs-3 Texto">Please contact us in other ways</p>
            <button onclick="Return()" class="btn btn-danger btn-lg fs-3 danger">Try again</button>
        </div>
    </div>

    <script>
       
    </script>

<script src="/javascripts/alertSuccessError.js"></script>

</body>

</html>