<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
        content="Facility, Gas Delivery Systems, Design, Analysis Prototyping & Testing. Semiconductor">
    <meta name="author" content="Semiconductor">

    <!-- Font Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <!-- FAVICON -->
    <link rel="icon" href="/images/FaviconSSNE.png">

    <title>SSNE</title>
    <!-- RECAPTCHA -->

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("contact-form").submit();
        }
    </script>

</head>

<body>
    <!-- LOADER -->
    <div class="loader"></div>

    <!-- SCROLL TO TOP "BUTTON" -->
    <div class="ocultar" id="scroll-to-top">
        <i class="fa-solid fa-angle-up"></i>
    </div>

    <!-- MENU DE NAVEGACION -->
    <div id="HOME"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-2 sticky-top" id="menu">
        <div class="container-fluid mx-5 ContainerNavBar">
            <a class="navbar-brand">
                <img class="LogoSSNE" src="/images/LogoNavBarSSNE.png" alt="SSNE GROUP" width="190" height="50">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-end DespliegueNavBar" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item px-1">
                        <a class="nav-link active page-scroll" aria-current="page" href="#HOME">HOME</a>
                    </li>

                    <li class="nav-item px-1">
                        <a class="nav-link" href="#SERVICES">SERVICES</a>
                    </li>

                    <li class="nav-item px-1">
                        <a class="nav-link" href="#ABOUTUS">ABOUT US</a>
                    </li>

                    <li class="nav-item px-1">
                        <a class="nav-link" href="#MAINTENANCE">MAINTENANCE</a>
                    </li>

                    <li class="nav-item px-1">
                        <a class="nav-link" href="#LOCATION">LOCATION</a>
                    </li>

                    <li class="nav-item px-1">
                        <a class="nav-link" href="#CONTACT">CONTACT</a>
                    </li>

                </ul>
                <!-- <a class="navbar-brand LogoNavBar">
                    <img src="/images/LogoSSNESign.png" alt="SSNE GROUP" width="80" height="80">
                </a> -->
            </div>
        </div>
    </nav>

    <!-- HOME -->
    <section id="banner">
        <div class="contenido-banner">
            <img style="margin-top: 8rem; max-width: 10rem; max-height: 10rem;" src="/images/LogoSSNESign.png" alt="">
            <h1 class="my-3" style="font-size: 4.5rem; font-weight: bold;">Welcome to SSNE Group</h1>
            <span style="font-size: 1.5rem;">We utilize the latest technology necessary to deliver cost
                effective
                solutions within a short lead time.</span>
        </div>
    </section>

    <!-- SERVICES WAS HOME -->
    <section class="BackgroundHome pt-5" style="margin-bottom: 3.5rem;">

        <div class="container" id="SERVICES">

            <!-- <h1 class="text-center fw-bold mb-3 p-3" style="font-size: 3rem;">Welcome to SSNE Group</h1> -->

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide5.png" style="transform: scaleX(-1);" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide8.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide11.png" style="transform: scaleX(-1);" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide7.png" style="transform: scaleX(-1);" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide13.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide3.png" style="transform: scaleX(-1);" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide12.png" style="transform: scaleX(-1);" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide4.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide6.png" alt="">
                    </div>
                    <!-- <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide9.png" alt="">
                    </div> -->
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide10.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/SlidesSwiper/Slide14.png" alt="">
                    </div>
                </div>
                <!-- <div class="swiper-button-next" style="color: #a9f7f8;"></div>
                <div class="swiper-button-prev" style="color: #a9f7f8;"></div> -->
            </div>
        </div>


        <!-- TITULO -->

        <section class="w-75 mx-auto text-center pt-1" id="intro">
            <h1 class="pt-5 pb-3" style="font-size: 2rem; margin-top: 2.5rem; color: #555555;">Facility, Gas Delivery
                Systems, Design, Analysis Prototyping & Testing
            </h1>
        </section>

        <!-- CARDS RESPONSIVE CON FLIP CARD EFFECT 3D -->

        <div class="card-container">

            <div class="card">
                <div class="face front">
                    <img src="/images/ServicesHome/FEngineering.jpg" alt="Engineering">
                    <i class="fa-solid fa-gear"></i>
                    <h3>Engineering </h3>
                    <p>Together with our highly experienced and capable team,
                        we will maintain a safe process through our tools to
                        obtain tailor-made results.</p>
                </div>
                <div class="face back" id="card1">
                </div>
            </div>

            <div class="card">
                <div class="face front">
                    <img src="/images/ServicesHome/FDesign.jpg" alt="Design">
                    <i class="fa-solid fa-pen-ruler"></i>
                    <h3>Design </h3>
                    <p>We design the result of the client's requirements,
                        presenting each part in detail, ensuring confidence in
                        what you receive.</p>
                </div>
                <div class="face back" id="card2">
                </div>
            </div>

            <div class="card">
                <div class="face front">
                    <img src="/images/ServicesHome/FManufacturing.jpg" alt="Manufacturing">
                    <i class="fa-solid fa-compass-drafting"></i>
                    <h3>Manufacturing </h3>
                    <p>The product undergoes a high-quality manufacturing process, taking into account both the
                        materials and tools used, to achieve the desired result.</p>
                </div>
                <div class="face back" id="card3">
                </div>
            </div>

            <div class="card">
                <div class="face front">
                    <img src="/images/ServicesHome/FTesting.jpg" alt="Testing">
                    <i class="fa-solid fa-flask-vial"></i>
                    <h3>Testing </h3>
                    <p>We have the necessary tools for testing. This stage
                        is a high priority to ensure that the performance of
                        the product meets expectations.</p>
                </div>
                <div class="face back" id="card4">
                </div>
            </div>
        </div>

        <div class="w-75 mx-auto text-center pt-1">
            <p class="fs-5">We utilize the latest technology necessary to deliver cost effective solutions within a
                short lead time.</p>
        </div>
    </section>

    <!-- ABOUT US! -->
    <section class="container-fluid AboutContainer" id="ABOUTUS">

        <div class="row w-50 mx-auto mt-5 servicio-fila">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h1 class="fs-1 p-3 border-top border-3 mt-5">About Us</h1>
                <p class="mt-3 p-1 fs-5">We have developed a Design Engineering and Technical Project Management
                    Support Team that covers various disciplines
                    and industries, including Semiconductor,
                    Medical, Food, and Transportation. These relationships enable SSNE to develop and assemble
                    effective project teams quickly,
                    based on the technical requirements of each project. Our engineering design team has extensive
                    experience in solving engineering problems
                    and developing special systems, equipment and products for clients.</p>
            </div>
        </div>

        <div class="AboutUsCardContainer">

            <div class="AboutUsCard border-2 border">
                <h3 class="border-bottom border-2">Our Mision</h3>
                <p style="padding-top: 4rem;">To bring new creativity and energy to our client's product design and
                    development teams.</p>
            </div>
            <div class="AboutUsCard border-2 border">
                <h3 class="border-bottom border-2">Our Vision</h3>
                <p>To fully understand our customer's requirements and continuously exceed their expectations through
                    the application of engineering and creativity.
                    We strive to develop products and solutions that will enable our clients to gain competitive edge in
                    their industry.</p>
            </div>


    </section>

    <!-- MAINTENANCE WAS SERVICES -->
    <section class="container-fluid Services" id="MAINTENANCE">
        <div class="w-50 m-auto text-center" id="ServicesTitle">
            <h1 class="mt-5 fw-bold">Maintenance</h1>
            <p class="p-2">We apply technical and scientific knowledge to offer you the solution you are looking for,
                with the necessary resources to the development of the project you need.</p>
        </div>

        <div class="row w-75 m-auto border-2 border-bottom my-5 filaServices">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 class="fw-bold">Semiconductor Industry</h3>
                <p>We cover the full spectrum of semiconductor capital equipment design and manufacture from:</p>
                <ul>
                    <li class="liServices">
                        <p><i class="fa-solid fa-square IconListServices"></i>Mainframes</p>
                    </li>
                    <li class="liServices">
                        <p><i class="fa-solid fa-square IconListServices"></i>Gas Delivery Systems</p>
                    </li>
                    <li class="liServices">
                        <p><i class="fa-solid fa-square IconListServices"></i>VMU/VMB Modules</p>
                    </li>
                    <li class="liServices">
                        <p><i class="fa-solid fa-square IconListServices"></i>Metal Enclosures</p>
                    </li>
                    <li class="liServices">
                        <p><i class="fa-solid fa-square IconListServices"></i>Automated Lift Mechanisms</p>
                    </li>
                    <li class="liServices">
                        <p><i class="fa-solid fa-square IconListServices"></i>Process Chamber Modules</p>
                    </li>
                    <li class="liServices">
                        <p><i class="fa-solid fa-square IconListServices"></i>Wafer Transfer Chamber Modules</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img class="m-auto mb-5 img-fluid d-flex InterRight ImgServicesInter"
                    style="width: 14rem; object-fit: cover;" src="/images/ServicesSection/Semiconductor.png"
                    alt="Semiconductor" id="SemiConductorImage">
            </div>
        </div>

        <div class="row w-75 m-auto border-2 border-bottom my-5 filaServices">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img class="m-auto mb-2 img-fluid d-flex InterLeft ImgServicesInter" style="width: 80%;"
                    src="/images/ServicesSection/SolarEnergy.png" alt="SolarEnergy" id="SolarImage">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-2">
                <h3 class="fw-bold">Solar Renewable Energy Industry</h3>
                <p>Designing to the customer requirements, we can help increase efficiency. The flexible design of PV
                    Housing Enclosure is a solution to a
                    fully integrated power conversion system, DC box design and low voltage service power panel.</p>
                <p>We also coordinate UL approval of foreign manufactured equipment targeted for the US high power solar
                    renewable energy industry market.</p>
            </div>
        </div>
    </section>

    <!-- LOCATION -->
    <section class="container-fluid Location" id="LOCATION">

        <div class="row w-75 m-auto my-5 py-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="fw-bold my-5">Location</h1>
                <ul class="ListLocation">
                    <li>
                        <p><img src="/images/Banderas/usa.png" alt=""> San Jose, California - USA. (Headquarters)</p>
                    </li>
                    <li>
                        <p><img src="/images/Banderas/usa.png" alt=""> Texas - USA. (Manufacturing)</p>
                    </li>
                    <li>
                        <p><img src="/images/Banderas/sv.png" alt=""> San Salvador - ESA (Partnership)</p>
                    </li>
                    <li>
                        <p><img src="/images/Banderas/cr.png" alt=""> Costa Rica (Partnership)</p>
                    </li>
                </ul>

                <h1 class="fw-bold mt-5">Platforms for video conferencing:</h1>
                <div class="col-lg-12 IconosLocation mt-3">
                    <img src="/images/IconosVideoConferencing/G Meet.png" alt="">
                    <img src="/images/IconosVideoConferencing/M Teams.png" alt="">
                    <img src="/images/IconosVideoConferencing/skype.png" alt="">
                    <img src="/images/IconosVideoConferencing/zoom.png" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto my-5">
                <canvas class="img-fluid" id='globe' width='500' height='500' style="cursor: move;"></canvas>
            </div>
        </div>
    </section>

    <!-- CONTACT -->


    <section class="container-fluid Contact" id="CONTACT">

        <div class="row w-50 mx-auto my-5 py-5 Contact-fila">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center ContainerContactForm">
                <h1 class="fw-bold p-3">Contact Us</h1>
                <p class="p-1 fs-5">Get in Contact. Fill up the form below. All fields are required.</p>


                <form action="/contact" method="POST" id="contact-form">
                    <div class="form-group w-50 mx-auto my-2">
                        <input type="text" name="name" id="name" placeholder="Your Name" class="form-control" required>
                    </div>

                    <div class="form-group w-50 mx-auto my-2">
                        <input type="email" name="email" id="email" placeholder="Your Email" class="form-control"
                            required>
                    </div>

                    <div class="form-group w-50 mx-auto my-2">
                        <input type="text" name="phone" id="phone" placeholder="Phone Number" class="form-control"
                            required>
                    </div>

                    <div class="form-group w-50 mx-auto my-2">
                        <input type="text" name="company" id="company" placeholder="Your Company" class="form-control"
                            required>
                    </div>

                    <div class="form-group w-50 mx-auto my-2">
                        <textarea cols="60" rows="3" maxlength="300" id="message" name="message" class="form-control"
                            placeholder="Write your comment here..." required></textarea>
                    </div>

                    <!-- <div class="form-group w-50 mx-auto my-2 text-start">
                        <label class="fs-5 my-2" for="tipoConsulta">Select the Type of Query</label>
                        <select class="form-select" id="tipoConsulta" name="tipoConsulta">
                            <option value="Services" selected>Services</option>
                            <option value="Quotation">Quotation</option>
                        </select>
                    </div> -->

                    <div class="form-group w-50 mx-auto my-2 text-start">
                        <p class="fs-5 my-2">Select the Department You Want to Contact</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="salesRadio" name="emailTo" value="sales"
                                checked>
                            <label class="form-check-label" for="salesRadio">
                                Sales Department
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" id="servicesRadio" name="emailTo"
                                value="services">
                            <label class="form-check-label" for="servicesRadio">
                                Services Department
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" id="accountingRadio" name="emailTo"
                                value="accounting">
                            <label class="form-check-label" for="accountingRadio">
                                Accounting Department
                            </label>
                        </div>
                    </div>

                    <div class="form-group w-50 mx-auto my-4">
                        <button class="g-recaptcha BotonContact" data-sitekey="6LevRWEpAAAAACvIFUSp8YdLk1Xi6Hp_-n46bU1g"
                            data-callback="onSubmit">Send Message</button>
                    </div>

                </form>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-4 filaIconosContact">
                <a href="mailto:sales@ssnegroup.com"><i class="fa-solid fa-envelope"></i></a>
                <a href="tel:4084333775"><i class="fa-solid fa-phone"></i></a>
                <a href="https://sv.linkedin.com/company/ssne-group-inc"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </section>

    <!-- PIE DE PAGINA -->
    <footer>
        <div class="container-fluid w-100 FooterSSNE">

            <div class="row w-50 mx-auto border-bottom border-1 my-3 pt-5 FilaFooter">
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <h1 class="fw-bold fs-3">About SSNE</h1>
                    <p class="p-1">SSNE Group has been based in San Jose, California since 2003. We're Sylicon System
                        Network Engineering</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <h1 class="fw-bold fs-3">Contact</h1>
                    <p><i class="fa-solid fa-location-dot"></i>San Jose, California</p>
                    <p><i class="fa-solid fa-envelope"></i><a href="mailto:sales@ssnegroup.com">sales@ssnegroup.com</a>
                    </p>
                </div>
            </div>

            <div class="row w-100 mx-auto text-center py-4">
                <article>&copy; 2024 SSNE Group, INC</article>
            </div>

        </div>
    </footer>

    <!-- INTERSECTION OBSERVER JS -->
    <script src="/javascripts/intersectionObserver.js"></script>

    <!-- Usando la CDN de jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- CAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- SWEET ALERT 2 .JS -->
    <script src="/javascripts/sweetalert2.js"></script>

    <!-- loader, scroll to top, correct scroll -->
    <script src="/javascripts/main.js"></script>

    <!-- Planetary.js -->
    <script type='text/javascript' src='https://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='https://d3js.org/topojson.v1.min.js'></script>
    <script type='text/javascript'
        src='https://cdn.rawgit.com/BinaryMuse/planetary.js/v1.1.2/dist/planetaryjs.min.js'></script>
    <script type="text/javascript" src="/javascripts/planetary.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/javascripts/swiper.js"></script>

    <!-- Script Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>